# Ignore everything by default
*
.env

# But keep these files/folders
!.gitignore
!README.md
!main.py
!agents/
!agents/**

!api/
!api/**

!config/
!config/**

!data/
!data/**

!utils/
!utils/**
!logger.py

!tests/
!tests/**

!fastapi/
!fastapi/**

# Ignore macOS and editor cruft
.DS_Store
.Trash/
*.icloud
.vscode/
.idea/
node_modules/
__pycache__/
*.pyc
